@inherits LayoutComponentBase
<div class="container text-center">
    <div class="d-flex align-self-center">
        <div class="col"></div>
        <div class="col">
            @Body
        </div>
        <div class="col"></div>
    </div>
</div>