@using Application.Extensions
@using Microsoft.AspNetCore.Components.Authorization
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="content/home">
            VehicleManager    
        </a>
        <button title="Nav-menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
             <NavLink class="nav-link" href="content/home" Match="NavLinkMatch.All">
                 <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Records
             </NavLink>
        </div>

        <AuthorizeView Roles="@Constant.Role.Admin">
            <div class="nav-item px-3 text-light mt-3">
                <span class="bi bi-person-fill-gear fs-4" aria-hidden="true"></span> Administration
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="administration/account/identity/add-user" Match="NavLinkMatch.All">
                    <span class="bi bi-person-plus fs-5 icon-fix text-light" aria-hidden="true"></span> Add User
                </NavLink>
                <NavLink class="nav-link" href="administration/account/identity/users" Match="NavLinkMatch.All">
                    <span class="bi bi-person-plus fs-5 icon-fix text-light" aria-hidden="true"></span> Users list
                </NavLink>
            </div>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
